 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 @import url(/assets/css/root.css);

 .font-family {
     font-family: "Inter", sans-serif;
 }

 /* -----------font-weight--------- */
 .fw-400 {
     font-weight: 400;
 }

 .fw-500 {
     font-weight: 500;
 }

 .fw-600 {
     font-weight: 600;
 }

 .fw-700 {
     font-weight: 700;
 }
 
 /* ------liine-height---------- */
 .lh-19 {
     line-height: 19px;
 }

 .lh-43 {
     line-height: 43px;
 }

 .lh-34 {
     line-height: 34px;
 }

 .lh-28 {
     line-height: 28px;
 }

 .lh-29 {
     line-height: 29px;
 }

 .lh-48 {
     line-height: 48px;
 }

 .lh-26 {
     line-height: 26px;
 }

 .lh-22 {
     line-height: 22px;
 }

 /* ---------width------------------ */
 .max-w-1140 {
     max-width: 1140px;
 }

 .max-w-607 {
     max-width: 607px;
 }

 .max-w-540 {
     max-width: 540px;
 }

 .max-w-730 {
     max-width: 730px;
 }

 .max-w-892 {
     max-width: 892px;
 }

 .max-w-500 {
     max-width: 500px;
 }

 .max-w-390 {
     max-width: 390px;
 }

 .max-w-635 {
     max-width: 635px;
 }

 /* < !-- --------------hero-section------------- --> */
 .hero-section {
     position: relative;
     background-image: url(/assets/images/image\ 12.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     min-height: 750px;
 }

 .hero-section::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000000;
     opacity: 50%;
 }

 .text-decroation {
     text-decoration: none;
 }

 .nav-blur {
     background: #0E0E0E4D;
 }

 .py-42 {
     padding-top: 42px;
     padding-bottom: 42px;
 }

 .nav-icon-box {
     padding: 8px;
     width: 41px;
     height: 41px;
     background: rgba(255, 255, 255, 0.2);
     border-radius: 6px;
 }

 .gap-32 {
     gap: 32px;
 }

 .gap-16 {
     gap: 16px;
 }

 .join-btn {
     padding: 12px 24px;
     border-radius: 6px;
     border: none;
 }

 .join-btn:hover {
     background: #FFFFFF;
     color: var(--light-orange);
 }

 .z-1 {
     z-index: 1;
     position: relative;
 }

 .links:hover {
     color: var(--light-orange);
 }

 .mt-222 {
     margin-top: 222px;
 }

 .menu-lines {
     width: 30px;
     height: 5px;
     margin-bottom: 5px;
     display: flex;
     transition: all 300ms linear;
     transform-origin: left;
     border-radius: 10px;
 }

 .cursor-pointer {
     cursor: pointer;
 }

 .rotate-42 {
     transform: rotate(42deg);
 }

 .z-5 {
     z-index: 5;
 }

 .z-6 {
     z-index: 6;
 }

 .rotate-43 {
     transform: rotate(-43deg);
 }

 .ground-btn {
     padding: 16px 19px 16px 24px;
     border: none;
     border-radius: 6px;
 }

 .ground-btn:hover {
     background: #FFFFFF;
     color: var(--light-orange);
 }

 .ground-btn:hover svg {
     fill: var(--light-orange);
 }

 .text-right {
     text-align: right;
 }

 /* < !-- ----------------section-1------------- --> */
 .mb-80 {
     margin-bottom: 80px;
 }

 .images-text {
     right: 70px;
     bottom: 90px;
 }

 .image-btn {
     padding: 12px 20px;
     margin-left: 130px;
 }

 .gap-8 {
     gap: 8px;
 }

 .mt-147 {
     margin-top: 147px;
 }

 .section-2-box:hover {
     .logo-name {
         filter: brightness(50%);
         background: #0E0E0E4D;
         transition: all 200ms linear;
         transform: scale(1.1);
     }
 }

 .section-2-box:hover {
     .logo-name-1 {
         opacity: 100%;
         background: #0E0E0E4D;
         transition: all 200ms linear;
         transform: scale(1.1);
     }
 }

 .logo-name-1 {
     transition: 0.3s ease-in-out;
 }

 .section-2-box:hover .sec-2-box {
     right: 60px;
     bottom: 90px;
 }

 .section-2-box:hover .box-text {
     display: block !important;
 }

 .image-container {
     margin-top: 147px;
     margin-bottom: 80px;
 }

 /* < !-- ----------------section-2------------- --> */
 .position-relative {
     position: relative;
 }

 .position-absolute {
     position: absolute;
 }

 .pt-50 {
     padding-top: 50px;
 }

 .text-center {
     text-align: center;
 }

 .mb-27 {
     margin-bottom: 27px;
 }

 .mt-48 {
     margin-top: 48px;
 }

 .h-606 {
     min-height: 606px;
 }

 .right {
     bottom: 0;
     right: 0;
     position: absolute;
     width: 740px;
 }

 /* < !-- ----------------section-3------------- --> */
 .pt-100 {
     padding-top: 100px;
 }

 .square {
     width: 328px;
     height: 312px;
     background: #E58E1A;
     right: 0;
     top: 0;
     position: absolute;
     transform: matrix(1, 0, 0, -1, 0, 0);
 }

 .grid-container {
     display: grid;
     grid-template-columns: 290px 496px 290px;
     grid-template-rows: 320px 407px 320px;
     gap: 32px;
 }

 .grid-item-1 {
     grid-row: 1/2;
     grid-column: 1/2;
 }

 .grid-item-2 {
     grid-row: 1/3;
     grid-column: 2/3;
 }

 .grid-item-3 {
     grid-row: 1/2;
     grid-column: 3/4;
 }

 .grid-item-4 {
     grid-row: 2/4;
     grid-column: 1/2;
 }

 .grid-item-5 {
     grid-row: 3/4;
     grid-column: 2/3;
 }

 .grid-item-6 {
     grid-row: 2/4;
     grid-column: 3/4;
 }

 .grid-container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .mt-32 {
     margin-top: 32px;
 }

 .mb-80 {
     margin-bottom: 80px;
 }

 /* < !-- ----------------section-4------------- --> */
 .flex-column {
     flex-direction: column;
 }

 .line {
     max-width: 892px;
     border: 1px solid #E58E1A;
 }

 .gap-10 {
     gap: 10px;
 }

 .max-auto {
     margin-left: auto;
     margin-right: auto;
 }

 .padding {
     padding: 32px;
     border-radius: 10px;
 }

 .mb-30 {
     margin-bottom: 30px;
 }

 input {
     font-weight: 500;
     font-size: 18px;
     line-height: 26px;
     padding: 16px;
     border-radius: 4px;
     color: var(--black-color);
     border: none;
     background: var(--white-color);
 }
input::placeholder{
    color: var(--black-color);
    font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        padding: 16px;
}
 .form-about {
     border-radius: 4px;
     font-weight: 500;
     font-size: 18px;
     line-height: 26px;
     color: var(--black-color);
     border: none;
     height: 152px;
     background: var(--white-color);
 }
 textarea::placeholder{
    color: var(--black-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        padding: 16px;
 }

 .mb-30 {
     margin-bottom: 30px;
 }

 .btn-1 {
     padding: 16px 24px;
     color: #FFFFFF;
     background: #0E0E0E;
     border-radius: 6px;
 }

 .btn-1:hover {
     background: #FFFFFF;
     color: var(--black-color);
 }

 .btn-1 :hover svg path {
     fill: #0E0E0E;
 }

 .mb-16 {
     margin-bottom: 16px;
 }

 .pb-100 {
     padding-bottom: 100px;
 }

 /* < !-- ----------------footer------------- --> */
 .pb-42 {
     padding-bottom: 42px;
 }

 .gap-24 {
     gap: 24px;
 }

 .pt-24 {
     padding-top: 24px;
 }

 .pt-16 {
     padding-top: 16px;
 }

 .border {
     width: 100%;
     height: 1px;
     opacity: 0.2;
     border: 1px solid #FFFFFF;
 }

 .icon:hover {
     transform: scale(1.3);
 }

 .ml-20 {
     margin-left: 20px;
 }

 .py-100 {
     padding-top: 100px;
     padding-bottom: 100px;
 }

 .footer-links {
     flex-direction: column;
     display: flex;
 }

 @media(max-width:1499px) {
     .right {
         width: 710px;
     }
 }

 @media(max-width:1199.99px) {
     .right {
         position: relative;
         width: 100%;
     }
 }

 @media(max-width:992px) {
     .nav-link {
         display: flex !important;
         flex-direction: column;
         width: 100%;
         min-height: 100vh;
         position: fixed;
         justify-content: center;
         bottom: 0;
         right: -100% !important;
         top: 0%;
         transition: all 300ms linear !important;
         z-index: 5;
         backdrop-filter: blur(40px);
         background: #0E0E0E4D;
     }

     .show-navbar {
         right: 0 !important;
     }

     .lh-19 {
         line-height: 16px;
     }

     .lh-43 {
         line-height: 40px;
     }

     .lh-34 {
         line-height: 32px;
     }

     .lh-28 {
         line-height: 26px;
     }

     .lh-29 {
         line-height: 27px;
     }

     .lh-48 {
         line-height: 45px;
     }

     .lh-26 {
         line-height: 24px;
     }

     .lh-22 {
         line-height: 18px;
     }

     .layer {
         max-width: 70%;
     }

     .square {
         width: 228px;
         height: 212px;
     }

     .padding {
         padding: 24px;
     }

     .max-w-540 {
         max-width: none;
     }

     .max-w-500 {
         max-width: none;
     }

     .ml-20 {
         margin-left: 0px;
     }

     .nav-icon-box {
         margin-top: 22px;
     }

     .section-2-box:hover .sec-2-box {
         right: 20px;
         bottom: 20px;
     }

     .image-btn {
         padding: 12px;
     }

     .py-100 {
         padding-top: 70px;
         padding-bottom: 70px;
     }

     .footer-main {
         flex-direction: column;
         text-align: center;
     }

     .footer-social {
         display: flex;
         align-items: center;
         gap: 10px;
     }

     .footer-links,
     .footer-contact {
         text-align: center;
     }
 }

 @media(max-width:768px) {
     .lh-43 {
         line-height: 40px;
     }

     .lh-34 {
         line-height: 30px;
     }

     .lh-28 {
         line-height: 22px;
     }

     .lh-29 {
         line-height: 26px;
     }

     .lh-48 {
         line-height: 45px;
     }

     .lh-26 {
         line-height: 24px;
     }

     .square {
         width: 100px;
         height: 100px;
     }

     .image-container {
         margin: 30px;
     }

     .section-2-box:hover .sec-2-box {
         right: 0px;
         bottom: 0px;
     }

     .image-btn {
         padding: 8px;
     }

     .gap-8 {
         gap: 2px;
     }
 }

 @media(max-width:576px) {
     .mb-17 {
         margin-bottom: 17px;
     }

     .padding {
         padding: 15px;
     }

     .image-container {
         margin: 16px;
     }

     .py-100 {
         padding-top: 50px;
         padding-bottom: 50px;
     }

     .footer-main {
         flex-direction: column;
         align-items: center;
         text-align: center;
     }

     .footer-social {
         flex-direction: row;
         gap: 10px;
     }

     .footer-links {
         display: flex;
         flex-direction: row;
         gap: 10px;
         justify-content: center;
     }

     .footer-contact {
         display: flex;
         flex-direction: column;
         gap: 5px;
         text-align: center;
     }
 }

 @media(max-width:420px) {
     .square {
         width: 100px;
         height: 100px;
     }
 }

 @media (min-width: 1024px) {
     .grid-container {
         grid-template-columns: 290px 496px 290px;
         grid-template-rows: auto;
     }
 }

 /* Ensure images fit inside the grid */
 .grid-container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 /* ✅ Tablet View (max-width: 1024px) - 2 Columns */
 /* @media (max-width: 1024px) {      .grid-container {          grid-template-columns: repeat(3, minmax(290px, 3fr));          gap: 20px;      }  } */
 /* ✅ Mobile View (max-width: 768px) - 1 Column */
 /* @media (max-width: 768px) {      .grid-container {          grid-template-columns: 3fr;          gap: 15px;      }} */
 
 

 */ .grid {
     max-width: 1140px;
     margin-left: auto;
     margin-right: auto;
     /* background-color: aqua; /                           width: 100%;                           / height: 759px; */
     background-color: green;
     display: flex;
     gap: 24px;
 }

 .first-col {
     max-width: 320px;
     width: 100%;
     min-height: 755px;
     background-color: green;
     display: flex;
     flex-direction: column;
     gap: 24px;
 }

 .second-col {
     max-width: 496px;
     width: 100%;
     min-height: 755px;
     background-color: green;
     display: flex;
     flex-direction: column;
     gap: 24px;
 }

 .third-col {
     max-width: 290px;
     width: 100%;
     min-height: 755px;
     background-color: green;
     display: flex;
     flex-direction: column;
     gap: 24px;
 }

 .a-div {
     width: 100%;
     min-height: 320px;
     background-color: black;
 }

 .b-div {
     width: 100%;
     min-height: 407px;
     background-color: black;
 }

 .c-div {
     width: 100%;
     min-height: 407px;
     background-color: black;
 }

 .d-div {
     width: 100%;
     min-height: 320px;
     background-color: black;
 }

 .e-div {
     width: 100%;
     min-height: 250px;
     background-color: black;
 }

 .f-div {
     width: 100%;
     min-height: 477px;
     background-color: black;
 }



 /* .our-line {
     width: 30px;
     border: 2px solid var(--light-orange);
 } */

 .mb-32,
 .mb_32 {
     margin-bottom: 32px;
 }

 .square-box {
     width: 328px;
     height: 312px;
     background: #E58E1A;
     right: 0;
 }

 .pb-100 {
     padding-bottom: 100px;
 }

 .max-w-290 {
     max-width: 290px;
 }

 .max-w-496 {
     max-width: 496px;
 }

 .max-h-320 {
     max-height: 320px;
 }

 .max-h-407 {
     max-height: 407px;
 }

 .max-h-250 {
     max-height: 250px;
 }

 .max-h-477 {
     max-height: 477px;
 }

 /***** contact *****/
 .bg-img-2 {
     background-image: url(../imgaes/png/contact-section-bg-img.png);
     background-repeat: no-repeat;
     background-size: cover;
 }

 .contact-line {
     width: 30px;
     height: 0;
     border: 2px solid #E58E1A;
 }

 .max-w-730 {
     max-width: 730px;
 }

 .fs-18 {
     font-size: 18px;
 }

 .mb-30 {
     margin-bottom: 30px;
 }

 .gap-10 {
     gap: 10px;
 }

 .gap-40 {
     gap: 40px;
 }

 .mb-60 {
     margin-bottom: 60px;
 }

 .box {
     max-width: 892px;
     padding: 10px 12px;
     border-bottom: 1px solid #E58E1A;
 }

 .big-box {
     border-radius: 10px;
     padding: 32px;
 }

 .input-common-class {
     height: 58px;
     border-radius: 4px;
     outline-color: lightgray;
 }

 input::placeholder,
 textarea::placeholder {
     color: var(--color-black-sheep);
 }
 @media (max-width:345.98px) {
     .square-box {
         display: none;
     }}











































         @media (max-width:991.98px) {
             .nav-link {
                 display: flex !important;
                 flex-direction: column;
                 background-color: black !important;
                 width: 100%;
                 min-height: 100vh;
                 position: fixed;
                 justify-content: center;
                 bottom: 0;
                 right: -100% !important;
                 top: 0%;
                 transition: all 300ms linear !important;
                 z-index: 5;
             }
    
             .show-navbar {
                 right: 0 !important;
             }
    
             .lh-43 {
                 line-height: normal;
             }
    
             .lh-34 {
                 line-height: normal;
             }
    
             .mb-42 {
                 margin-bottom: 0 !important;
             }
    
             .w_100 {
                 width: 100%;
             }
    
             .max-w-690 {
                 max-width: none;
             }
    
             .mt-51 {
                 margin-top: 0px !important;
             }
    
             .truck-img {
                 max-width: 381px;
                 max-height: 376px;
             }
    
             .jcb-img {
                 max-width: 380px;
                 max-height: 376px;
             }
    
             .max-w-669 {
                 max-width: 672px !important;
             }
         }
    
         @media (max-width:767.98px) {
             .logo {
                 max-width: 141px !important;
             }
    
             .nav-btn {
                 border-radius: 6px;
                 padding: 11.5px 16.5px;
             }
    
             .max-w-607 {
                 max-width: 332px;
             }
    
             .max-w-540 {
                 max-width: 584px !important;
             }
    
             .py-40 {
                 padding-top: 16px;
                 padding-bottom: 16px;
             }
    
             .mt-222 {
                 margin-top: 97px;
             }
    
             .mb-199 {
                 margin-bottom: 101px;
             }
    
             .pt-148 {
                 padding-top: 30px;
             }
    
             .pt-100 {
                 padding-top: 50px !important;
             }
    
             .max-w-398 {
                 max-width: 230px;
             }
    
             .h-605 {
                 height: 350px !important;
             }
    
             .nav-circle {
                 width: 36px;
                 height: 36px;
             }
    
             .nav-svg {
                 width: 20px !important;
                 height: 20px !important;
             }
    
             .gap-40 {
                 gap: 24px;
             }
    
             .big-box {
                 padding: 24px;
             }
    
             .pb-126 {
                 padding-bottom: 60px;
             }
    
             .max-w-730 {
                 max-width: 624px;
             }
    
             .pt-46 {
                 padding-top: 30px;
             }
    
             .pb-46 {
                 padding-bottom: 41px;
             }
    
             .py-32 {
                 padding-top: 24px;
                 padding-bottom: 24px;
             }
    
             .square-box {
                 width: 308px;
                 height: 293px;
             }
    
             .pb-100 {
                 padding-bottom: 60px;
             }
    
             .max-w-290 {
                 max-width: 217px !important;
             }
    
             .max-w-496 {
                 max-width: 217px !important;
             }
    
             .gap-32 {
                 gap: 16px !important;
             }
    
             .mb_32 {
                 margin-bottom: 16px;
             }
    
             .mb-32 {
                 margin-bottom: 24px;
             }
    
             .max-h-266 {
                 height: 286px;
             }
    
             .mb-16 {
                 margin-bottom: 10px !important;
             }
    
             .max-w-590 {
                 max-width: 590px;
             }
    
             .big-box {
                 max-width: 638px;
             }
    
             .box {
                 max-width: 456px;
             }
    
             .truck-img {
                 max-width: 250px;
                 max-height: 375px;
             }
    
             .h-863 {
                 height: 441px;
             }
    
             .jcb-img {
                 max-width: 250px;
                 max-height: 375px;
             }
    
             .max-w-669 {
                 max-width: 443px;
             }
    
             .pb-80 {
                 padding-bottom: 30px;
             }
         }
    
         @media (max-width:575.98px) {
             .logo {
                 max-width: 94px !important;
             }
    
             .fs-18 {
                 font-size: 12px;
             }
    
             .max-w-730 {
                 max-width: 333px;
             }
    
             .mb-16 {
                 margin-bottom: 8px !important;
             }
    
             .nav-btn {
                 border-radius: 6px;
                 padding: 7.5px 13px;
             }
    
             .mt-222 {
                 margin-top: 66px;
             }
    
             .mb-199 {
                 margin-bottom: 65px;
             }
    
             .py-40 {
                 padding-top: 8px;
                 padding-bottom: 8px;
             }
    
             .pt-148 {
                 padding-top: 16px;
             }
    
             .max-w-607 {
                 max-width: 233px;
             }
    
             .lh-26 {
                 line-height: 18px;
             }
    
             .max-w-540 {
                 max-width: 343px !important;
             }
    
             .pt-100 {
                 padding-top: 30px !important;
             }
    
             .max-w-445 {
                 max-width: 267px;
             }
    
             .cross-circle,
             .nav-circle {
                 width: 28px !important;
                 height: 28px !important;
             }
    
             .gap-16 {
                 gap: 8px !important;
             }
    
             .menu-lines-1 {
                 width: 7px !important;
                 height: 2px !important;
             }
    
             .menu-lines-2 {
                 width: 10px !important;
                 height: 2px !important;
             }
    
             .menu-lines-3 {
                 width: 7px !important;
                 height: 2px !important;
                 transform: translateX(3px) !important;
             }
    
             .nav-svg {
                 width: 16px !important;
                 height: 16px !important;
             }
    
             .gap-40 {
                 gap: 14px;
             }
    
             .font-size-14 {
                 font-size: 14px !important;
             }
    
             .lh-sm-22 {
                 line-height: 22px !important;
             }
    
             .big-box {
                 padding: 16px;
             }
    
             .pb-126 {
                 padding-bottom: 29px;
             }
    
             .mb-42 {
                 margin-bottom: 16px !important;
             }
    
             .pb-46 {
                 padding-bottom: 24px;
             }
    
             .py-32 {
                 padding-top: 16px;
                 padding-bottom: 16px;
             }
    
             .pt-46 {
                 padding-top: 21px;
             }
    
             .square-box {
                 width: 153px;
                 height: 146px;
             }
    
             .pb-100 {
                 padding-bottom: 40px;
             }
    
             .max-w-290 {
                 max-width: 109px !important;
             }
    
             .max-w-496 {
                 max-width: 109px !important;
             }
    
             .gap-32 {
                 gap: 8px !important;
             }
    
             .mb_32 {
                 margin-bottom: 8px;
             }
    
             .max-h-320 {
                 max-height: 110px;
             }
    
             .max-h-407 {
                 max-height: 140px;
             }
    
             .max-h-250 {
                 max-height: 90px;
             }
    
             .max-h-477 {
                 max-height: 160px;
             }
    
             .mb-32 {
                 margin-bottom: 16px;
             }
    
             .max-h-266 {
                 height: 144px;
             }
    
             .max-h-316 {
                 max-height: 189px;
             }
    
             .truck-img {
                 max-width: 191px;
                 max-height: 188px;
             }
    
             .jcb-img {
                 right: 0;
                 max-width: 188px;
                 max-height: 188px;
             }
    
             .max-w-669 {
                 max-width: 339px;
             }
    
             .pb-80 {
                 padding-bottom: 16px;
             }
    
             .h-863 {
                 height: 223px;
             }
         }
    
         @media (max-width:345.98px) {
             .square-box {
                 display: none;
             }
            }


















                        .pb-80 {
                            padding-bottom: 80px;
                        }
            
                        .pt-148 {
                            padding-top: 148px;
                        }
            
                        .h-863 {
                            height: 863px;
                        }
            
                        .truck-img {
                            left: 0%;
                            max-width: 635px;
                            max-height: 627px;
                            filter: grayscale(100%);
                            opacity: 50%;
                            transition: all 200ms linear;
                        }
            
                        .section-2-card:hover .truck-img {
                            filter: grayscale(0%);
                            opacity: 100%;
                        }
            
                        .section-2-card {
                            transition: all 200ms linear !important;
                            cursor: pointer;
                        }
            
            
            
            
            
            
                        .jcb-img {
                            right: 0%;
                            max-width: 635px;
                            max-height: 627px;
                            filter: grayscale(100%);
                            transition: all 200ms linear;
                            opacity: 50%;
                        }
            
            
            
                        .section-2-card:hover .jcb-img {
                            filter: grayscale(0%);
                            opacity: 100%;
                        }
            
                        .max-w-390 {
                            max-width: 390px;
                        }
            
                        .mb-12 {
                            margin-bottom: 12px;
                        }
            
                        .common {
                            text-align: right;
                        }
            
                        .explore-btn-2 {
                            padding: 14px 23.5px;
                            border-radius: 6px;
                        }
            
                        .explore-btn-2:hover {
                            background-color: var(--white-color);
                            color: var(--light-orange) !important;
            
                            svg path {
                                stroke: var(--light-orange);
                            }
                        }