 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 @import url(/assets/css/root.css);

 .font-family {
     font-family: "Inter", sans-serif;
 }

 /* -----------font-weight--------- */
 .fw-400 {
     font-weight: 400;
 }

 .fw-500 {
     font-weight: 500;
 }

 .fw-600 {
     font-weight: 600;
 }

 .fw-700 {
     font-weight: 700;
 }

 /* ------liine-height---------- */
 .lh-19 {
     line-height: 19px;
 }

 .lh-43 {
     line-height: 43px;
 }

 .lh-34 {
     line-height: 34px;
 }

 .lh-28 {
     line-height: 28px;
 }

 .lh-29 {
     line-height: 29px;
 }

 .lh-48 {
     line-height: 48px;
 }

 .lh-26 {
     line-height: 26px;
 }

 .lh-22 {
     line-height: 22px;
 }

 .max-w-1140 {
     max-width: 1140px;
 }

 .max-w-607 {
     max-width: 607px;
 }

 .max-w-540 {
     max-width: 540px;
 }

 .max-w-730 {
     max-width: 730px;
 }

 .max-w-892 {
     max-width: 892px;
 }

 .max-w-500 {
     max-width: 500px;
 }

 .max-w-390 {
     max-width: 390px;
 }

 .max-w-635 {
     max-width: 635px;
 }

 .max-w-367 {
     max-width: 367px;
 }

 /* < !-- --------------hero-section------------- --> */
 .hero-section {
     position: relative;
     background-image: url(/assets/images/image\ 12.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     min-height: 750px;
 }

 .hero-section::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000000;
     opacity: 50%;
 }

 .text-decroation {
     text-decoration: none;
 }

 .nav-blur {
     background: #0E0E0E4D;
 }

 .py-42 {
     padding-top: 42px;
     padding-bottom: 42px;
 }

 .nav-icon-box {
     padding: 8px;
     width: 41px;
     height: 41px;
     background: rgba(255, 255, 255, 0.2);
     border-radius: 6px;
 }

 .gap-32 {
     gap: 32px;
 }

 .gap-16 {
     gap: 16px;
 }

 .join-btn {
     padding: 12px 24px;
     border-radius: 6px;
     border: none;
 }

 .join-btn:hover {
     background: #FFFFFF;
     color: var(--light-orange);
 }

 .z-1 {
     z-index: 1;
     position: relative;
 }

 .links:hover {
     color: var(--light-orange);
 }

 .mt-222 {
     margin-top: 222px;
 }


 .nav-circle {
     width: 41px;
     height: 41px;
     border-radius: 6px;
     background: #FFFFFF33;
 }

 .gap-16 {
     gap: 16px;
 }

 .cross-circle {
     width: 40px;
     height: 40px;
     border-radius: 6px;
     background: #FFFFFF33;
 }

 .common-class {
     height: 5px;
     margin-bottom: 5px;
     background-color: white !important;
     transition: all 300ms linear;
     border-radius: 10px;
     z-index: 10;
     display: flex;
 }

 .menu-lines-1 {
     width: 15px;
 }

 .menu-lines-2 {
     width: 30px;
 }

 .menu-lines-3 {
     width: 15px;
     transform: translateX(15px);
 }

 .cursor-pointer {
     cursor: pointer;
 }

 .rotate-42 {
     transform: rotate(42deg);
 }

 .z-5 {
     z-index: 5;
 }

 .z-6 {
     z-index: 6;
 }

 .rotate-43 {
     transform: rotate(-43deg);
 }

 .ground-btn {
     padding: 16px 19px 16px 24px;
     border: none;
     border-radius: 6px;
 }

 .ground-btn:hover {
     background: #FFFFFF;
     color: var(--light-orange);
 }

 .ground-btn:hover svg path {
     stroke: var(--light-orange);
 }

 .text-right {
     text-align: right;
 }

 /* < !-- ----------------section-1------------- --> */


 .mb-80 {
     margin-bottom: 80px;
 }

 .pb-80 {
     padding-bottom: 80px;
 }

 .pt-148 {
     padding-top: 148px;
 }

 .h-863 {
     height: 863px;
 }

 .truck-img {
     left: 0%;
     max-width: 635px;
     max-height: 627px;
     filter: grayscale(100%);
     opacity: 50%;
     transition: all 200ms linear;
 }

 .section-2-card:hover .truck-img {
     filter: grayscale(0%);
     opacity: 100%;
 }

 .section-2-card {
     transition: all 200ms linear !important;
     cursor: pointer;
 }

 .jcb-img {
     right: 0%;
     max-width: 635px;
     max-height: 627px;
     filter: grayscale(100%);
     transition: all 200ms linear;
     opacity: 50%;
 }

 .section-2-card:hover .jcb-img {
     filter: grayscale(0%);
     opacity: 100%;

 }

 .max-w-390 {
     max-width: 390px;
 }

 .mb-12 {
     margin-bottom: 12px;
 }

 .common {
     text-align: right;
 }

 .explore-btn-2 {
     padding: 14px 23.5px;
     border-radius: 6px;
     background-color: var(--light-orange);
     color: var(--white-color);
 }

 .explore-btn-2:hover {
     background-color: var(--white-color);
     color: var(--light-orange) !important;

     svg path {
         stroke: var(--light-orange);
     }
 }

 .section-2-card:hover .text {
     display: block !important;
     filter: unset;
     opacity: unset;

 }

 .section-2-box {
     transition: all 200ms linear;
     border-radius: 30px;
     max-width: 360px;
     margin-left: auto;
     margin-right: auto;

 }

 .section-2-box:hover .text-2 {
     display: block !important;
 }

 .text-2 {
     right: 20px;
     top: 290px;
 }

 .text {
     left: 20px;
     top: 290px;
 }

 /* < !-- ----------------section-2------------- --> */
 .position-relative {
     position: relative;
 }

 .position-absolute {
     position: absolute;
 }

 .pt-50 {
     padding-top: 50px;
 }

 .text-center {
     text-align: center;
 }

 .mb-27 {
     margin-bottom: 27px;
 }

 .mt-48 {
     margin-top: 48px;
 }

 .right {
     bottom: 0;
     right: 0;
     position: absolute;
     width: 740px;
 }

 /* < !-- ----------------section-3------------- --> */
 .pt-100 {
     padding-top: 100px;
 }

 .mb-32,
 .mb_32 {
     margin-bottom: 32px;
 }

 .square-box {
     width: 328px;
     height: 312px;
     background: #E58E1A;
     right: 0;
 }

 .object-cover {
     object-fit: cover;
 }

 .gird-item-1 {
     max-width: 290px;
     max-height: 320px;
 }

 .gird-item-2 {
     max-width: 290px;
     max-height: 407px;
 }

 .gird-item-3 {
     max-width: 496px;
     max-height: 407px;
 }

 .gird-item-4 {
     max-width: 496px;
     max-height: 320px;
 }

 .gird-item-5 {
     max-width: 290px;
     max-height: 250px;
 }

 .gird-item-6 {
     max-width: 290px;
     max-height: 477px;
 }

 .pb-100 {
     padding-bottom: 100px;
 }

 .mt-32 {
     margin-top: 32px;
 }

 .mb-80 {
     margin-bottom: 80px;
 }

 /* < !-- ----------------section-4------------- --> */
 .flex-column {
     flex-direction: column;
 }

 .line {
     max-width: 892px;
     border: 1px solid #E58E1A;
 }

 .gap-10 {
     gap: 10px;
 }

 .max-auto {
     margin-left: auto;
     margin-right: auto;
 }

 .padding {
     padding: 32px;
     border-radius: 10px;
 }

 .mb-30 {
     margin-bottom: 30px;
 }

 input {
     font-weight: 500;
     font-size: 18px;
     line-height: 26px;
     padding: 16px;
     border-radius: 4px;
     color: var(--black-color);
     border: none;
     background: var(--white-color);
 }

 .position-absolute {
     position: absolute !important;
 }

 input::placeholder,
 textarea::placeholder {
     color: var(--black-color);
 }

 .form-about {
     border-radius: 4px;
     font-weight: 500;
     font-size: 18px;
     line-height: 26px;
     color: var(--black-color);
     border: none;
     height: 152px;
     background: var(--white-color);
 }

 .mb-30 {
     margin-bottom: 30px;
 }

 .btn-1 {
     padding: 16px 24px;
     color: #FFFFFF;
     background: #0E0E0E;
     border-radius: 6px;
 }

 .btn-1:hover {
     background: #FFFFFF;
     color: var(--black-color);
 }

 .btn-1:hover svg path {
     stroke: #0E0E0E;
 }

 .mb-16 {
     margin-bottom: 16px;
 }

 .pb-100 {
     padding-bottom: 100px;
 }
 .black {
     background-image: url(/assets/images/Frame\ 65.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
 }
 .mx-w-690 {
     max-width: 690px;
     height: 266px;
 }
 /* < !-- ----------------footer------------- --> */
 .pb-48 {
     padding-bottom: 48px;
 }

 .gap-24 {
     gap: 24px;
 }
 .ml-150{
    margin-left: 150px;
 } .max-w-445{
    max-width: 445px;
 }

 .pt-24 {
     padding-top: 24px;
 }

 .pt-16 {
     padding-top: 16px;
 }

 .border {
     width: 100%;
     height: 1px;
     opacity: 0.2;
     border: 1px solid #FFFFFF;
 }

 .footer-icons:hover {
     transform: scale(1.3);
 }

 .py-100 {
     padding-top: 100px;
     padding-bottom: 100px;
 }

.overflow-hidden{
    overflow: hidden;
}
.max-h-316{
    min-height: 316px;
}
.ml-70{
    margin-left: 70px;
}
.mt-52{
    margin-top: 52px;
}

 @media(max-width:1499px) {
     .right {
         width: 710px;
     }
 }

 @media(max-width:1199.99px) {
     .right {
         position: relative;
         width: 100%;
     }
 }

 @media(max-width:992px) {
     .nav-link {
         display: flex !important;
         flex-direction: column;
         background-color: black !important;
         width: 100%;
         min-height: 100vh;
         position: fixed;
         justify-content: center;
         bottom: 0;
         right: -100% !important;
         top: 0%;
         transition: all 300ms linear !important;
         z-index: 5;
     }

     .show-navbar {
         right: 0 !important;
     }



     .lh-19 {
         line-height: 16px;
     }

     .lh-43 {
         line-height: 40px;
     }

     .lh-34 {
         line-height: 32px;
     }

     .lh-28 {
         line-height: 26px;
     }

     .lh-29 {
         line-height: 27px;
     }

     .lh-48 {
         line-height: 45px;
     }

     .lh-26 {
         line-height: 24px;
     }

     .lh-22 {
         line-height: 18px;
     }

     .layer {
         max-width: 70%;
     }

     .square {
         width: 228px;
         height: 212px;
     }

     .padding {
         padding: 24px;
     }

     .max-w-540 {
         max-width: none;
     }
 
    .mx-w-690 {
        max-width: 987px;
        height: 266px;
    }
     .nav-icon-box {
         margin-top: 22px;
     }


     .py-100 {
         padding-top: 70px;
         padding-bottom: 70px;
     }


     .mb-42 {
         margin-bottom: 0 !important;
     }

     .w_100 {
         width: 100%;
     }

     .max-w-690 {
         max-width: none;
     }

/* .justify-content-lg-start {
    justify-content: flex-start !important;
} */
     .truck-img {
         max-width: 381px;
         max-height: 376px;
     }

     .jcb-img {
         max-width: 380px;
         max-height: 376px;
     }

     .max-w-669 {
         max-width: 672px !important;
     }

     .h-863 {
         height: 541px;
     }

     .text-2 {
         right: 0px;
         top: 160px;
     }

     .text {
         left: 0px;
         top: 160px;
     }

     .pt-148 {
         padding-top: 70px;
     }

     .pb-80 {
         padding-bottom: 50px;
     }
     .mt-51{
        margin-top: 0;
     }
     .machine-img{
        width: 100%;
     }
     .right-0{
        right: 0;
     }
         .mt-52{
            margin-top: 0;
         }
                
 }


 @media(max-width:768px) {
     .lh-43 {
         line-height: 35px;
     }

     .lh-34 {
         line-height: 30px;
     }

     .lh-28 {
         line-height: 22px;
     }

     .lh-29 {
         line-height: 26px;
     }

     .lh-48 {
         line-height: 45px;
     }

     .lh-26 {
         line-height: 24px;
     }


     .gap-8 {
         gap: 2px;
     }

     .max-w-540 {
         max-width: 584px !important;
     }

     .py-40 {
         padding-top: 16px;
         padding-bottom: 16px;
     }

     .mt-222 {
         margin-top: 150px;
     }

     .mb-199 {
         margin-bottom: 101px;
     }

     .pt-148 {
         padding-top: 30px;
     }

     .pt-100 {
         padding-top: 50px !important;
     }

     .max-w-398 {
         max-width: 230px;
     }

     .h-605 {
         height: 350px !important;
     }

     .gap-40 {
         gap: 24px;
     }

     .pb-126 {
         padding-bottom: 60px;
     }

     .max-w-730 {
         max-width: 624px;
     }

     .pt-46 {
         padding-top: 30px;
     }

     .pb-46 {
         padding-bottom: 41px;
     }

     .py-32 {
         padding-top: 24px;
         padding-bottom: 24px;
     }

     .square-box {
         width: 308px;
         height: 293px;
     }

     .pb-100 {
         padding-bottom: 60px;
     }


     .gap-32 {
         gap: 16px !important;
     }

     .mb_32 {
         margin-bottom: 16px;
     }

     .mb-32 {
         margin-bottom: 24px;
     }

     .max-h-266 {
         height: 286px;
     }

     .mb-16 {
         margin-bottom: 10px !important;
     }

     .max-w-590 {
         max-width: 590px;
     }

     .truck-img {
         max-width: 250px;
         max-height: 375px;
     }

     .h-863 {
         height: 341px;
     }

     .jcb-img {
         max-width: 250px;
         max-height: 375px;
     }

     .max-w-669 {
         max-width: 443px;
     }

     .pb-80 {
         padding-bottom: 30px;
     }

     .text-2 {
         top: 80px;
     }

     .text {
         top: 80px;
     }

     .logo {
         max-width: 141px !important;
     }

     .join-btn {
         border-radius: 6px;
         padding: 11.5px 16.5px;
     }

     .py-42 {
         padding-top: 22px;
         padding-bottom: 22px;
     }


     .mt-222 {
         margin-top: 194px;
     }

     .hero-section {
         min-height: 650px;
     }

     input,
     .form-about {
         font-weight: 500;
         font-size: 14px;
         line-height: 22px;

     }
          .mx-w-690 {
              height: 200px;
          }
 }

 @media(max-width:576px) {
     .mb-17 {
         margin-bottom: 10px;
     }

     .padding {
         padding: 15px;
     }

     .py-100 {
         padding-top: 50px;
         padding-bottom: 50px;
     }

     .logo {
         max-width: 94px !important;
     }

     .max-w-730 {
         max-width: 333px;
     }

     .mb-16 {
         margin-bottom: 8px !important;
     }

     .mb-199 {
         margin-bottom: 65px;
     }

     .join-btn {
         border-radius: 6px;
         padding: 7.5px 13px;
     }

     .py-40 {
         padding-top: 8px;
         padding-bottom: 8px;
     }

     .pt-148 {
         padding-top: 16px;
     }

   

     .pt-100 {
         padding-top: 30px !important;
     }

     .py-42 {
         padding-top: 10px;
         padding-bottom: 10px;
     }

     .mt-222 {
         margin-top: 64px;
     }

     .max-w-445 {
         max-width: 267px;
     }

     .hero-section {
         min-height: 450px;
     }

     .gap-40 {
         gap: 14px;
     }


     .pb-126 {
         padding-bottom: 29px;
     }

     .mb-42 {
         margin-bottom: 16px !important;
     }

     .pb-46 {
         padding-bottom: 24px;
     }

     .py-32 {
         padding-top: 16px;
         padding-bottom: 16px;
     }

     .pt-46 {
         padding-top: 21px;
     }

     .square-box {
         width: 153px;
         height: 146px;
     }

     .pb-100 {
         padding-bottom: 40px;
     }


     .gap-32 {
         gap: 8px !important;
     }


     .mb-32 {
         margin-bottom: 16px;
     }

     .max-h-266 {
         height: 144px;
     }

     .max-h-316 {
         max-height: 189px;
     }

     .truck-img {
         max-width: 191px;
         max-height: 188px;
     }

     .jcb-img {
         right: 0;
         max-width: 188px;
         max-height: 188px;
     }

     .max-w-669 {
         max-width: 339px;
     }

     .pb-80 {
         padding-bottom: 16px;
     }

     .h-863 {
         height: 223px;
     }

     .max-w-367 {
         max-width: unset;
     }



     input,
     .form-about {
         font-weight: 500;
         font-size: 12px;
         line-height: 18px;

     }

     .gird-item-1 {
         max-width: 109px !important;
         max-height: 110px !important;
     }

     .gird-item-2 {
         max-width: 109px;
         max-height: 140px;
     }

     .gird-item-3 {
         max-width: 109px;
         max-height: 140px;
     }

     .gird-item-4 {
         max-width: 109px;
         max-height: 110px;
     }

     .gird-item-5 {
         max-width: 109px;
         max-height: 90px;
     }

     .gird-item-6 {
         max-width: 109px;
         max-height: 160px;
     }

     .mt-32 {
         margin-top: 17px;
     }
     .mt-51{
        margin-top: 2px;
     }
 }

 @media (max-width:345.98px) {
     .square-box {
         display: none;
     }

     .gap-32 {
         gap: 20px;
     }
 }

.mx-w-398 {
    max-width: 398px;
}

.left-0 {
    left: 0;
}

.mx-w-545 {
    max-width: 545px;
}

.pt-100 {
    padding-top: 100px;
}

.mx-w-690 {
    max-width: 690px;
    height: 266px;
}

.mx-w-445 {
    max-width: 445px;
}

.right-0 {
    right: 0;
}

.mt-51 {
    margin-top: 51px;
}

.pb-24 {
    padding-bottom: 24px;
}